package config


const (
	STMP_HOST     = "smtpdm.aliyun.com"
	STMP_PORT     = "25"
	STMP_PASSWORD = "xxxxxxx"
	STMP_USER     = "admin@mail.mojotv.cn"
	TRANSLATE_APP_ID         = "网易翻译 app_id"
	TRANSLATE_APP_SECRET     = "网易翻译 app_secret"
	TRANSLATE_HOST          = "http://openapi.youdao.com/api"
    STMP_RECEIVER        = "xxxx@me.com"
)

